# Ignore Python virtual environment
venv/
ENV/
env/

# Ignore environment variable files
.env
.env.*

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# IDE-specific ignores
.vscode/
.idea/